# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

version: 2
jobs:
  test:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t mps .
      - run:
          name: Test Code
          command: docker run mps
  integrate:
    docker:
      - image: mozilla/edge-validator:1.3
    steps:
      - checkout
      - run:
          name: Checkout upstream
          command: |
            git remote add upstream git@github.com:mozilla-services/mozilla-pipeline-schemas.git
            git fetch --all
      - setup_remote_docker
      - run:
          name: Run a comparison report
          command: |
            # Get the revisions for comparison. This will compare the tip of
            # the PR against the upstream mozilla:dev.
            head_short_id=$(git rev-parse --short HEAD)
            upstream_short_id=$(git rev-parse --short upstream/dev)

            # The `checkout` step defaults to $HOME/project (/app/project).
            # Replace the container's submodule with the current state of this repo.
            cd .. && rm -r mozilla-pipeline-schemas && mv project mozilla-pipeline-schemas

            # Run the comparison report and store the artifacts for future viewing.
            pipenv run \
              python integration.py compare \
                --report-path test-reports \
                $upstream_short_id $head_short_id
      - store_artifacts:
          path: /app/test-reports
          destination: /app/test-results
  publish-jar:
    docker:
      - image: maven:3.5.4-jdk-8
    steps:
      - checkout
      - run:
          name: Publish jar to ops-mavenrepo
          command: |
            apt-get update && apt-get install -y make
            cd jar/ && make deploy

workflows:
  version: 2
  build:
    jobs:
      - test
      - integrate
      # We overwrite the SNAPSHOT jar on merges to master.
      - publish-jar:
          requires:
            - test
            - integrate
          filters:
            branches:
              only: dev

  tagged-publish:
    jobs:
      - publish-jar:
          filters:
            branches:
              # Ignore all branches; this workflow should only run for tags.
              ignore: /.*/
            tags:
              only: /.*/
